$bg-white:                rgba(90, 125, 137, 0.1);
$border-color:             #ececec;

$dark-green:              #457E8B;

$font:        "IBM Plex Sans", "Arial", sans-serif;
$text-color : #214A51;
$burger-color: #214A51;
$icon-open-color: #2A5C67;


$tablet-width:             768px;
$laptop-width:             1024px;
$desktop-width:            1440px;
$mobile-width-only:        767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;