.svg-logo--img--baseline-arrow_back-24px-dims {
	width: 18px;
	height: 18px;
}

.svg-logo--img--baseline-close-24px-dims {
	width: 24px;
	height: 24px;
}

.svg-logo--img--baseline-help-24px-dims {
	width: 20px;
	height: 20px;
}

.svg-logo--img--burger-dims {
	width: 24px;
	height: 16px;
}

.svg-logo--img--chanels-dims {
	width: 58px;
	height: 55px;
}

.svg-logo--img--cloud_1-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--cloud_2-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--cloud_3-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--cloud_4-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--cloud_5-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--enter-dims {
	width: 16px;
	height: 16px;
}

.svg-logo--img--hd-dims {
	width: 38px;
	height: 32px;
}

.svg-logo--img--internet-dims {
	width: 56px;
	height: 56px;
}

.svg-logo--img--internet_advantages_2-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--internet_advantages_3-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--internet_advantages_4-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--internet_advantages_5-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--internet_marketing-dims {
	width: 60px;
	height: 60px;
}

.svg-logo--img--internet_marketing_icon_1-dims {
	width: 56px;
	height: 53px;
}

.svg-logo--img--internet_marketing_icon_2-dims {
	width: 55px;
	height: 52px;
}

.svg-logo--img--internet_marketing_icon_3-dims {
	width: 55px;
	height: 52px;
}

.svg-logo--img--internet_marketing_icon_4-dims {
	width: 55px;
	height: 52px;
}

.svg-logo--img--internet_speed-dims {
	width: 80px;
	height: 80px;
}

.svg-logo--img--lisence-dims {
	width: 39px;
	height: 54px;
}

.svg-logo--img--logo-dims {
	width: 120px;
	height: 37px;
}

.svg-logo--img--logo_white-dims {
	width: 141px;
	height: 44px;
}

.svg-logo--img--office-dims {
	width: 56px;
	height: 54px;
}

.svg-logo--img--partners-dims {
	width: 55px;
	height: 43px;
}

.svg-logo--img--rasco-dims {
	width: 58px;
	height: 54px;
}

.svg-logo--img--requisites-dims {
	width: 40px;
	height: 53px;
}

.svg-logo--img--telephony-dims {
	width: 48px;
	height: 48px;
}

.svg-logo--img--tv_package-dims {
	width: 52px;
	height: 52px;
}

.svg-logo--img--wi-fi-dims {
	width: 80px;
	height: 80px;
}

